.cardFormLogin {
  align-items: center;
  width: 26rem;
  height: 25rem;
  padding-bottom: 40rem;
  padding-top: 3rem;
  margin-bottom: 8rem;
}
.cadastrarLink {
  text-decoration: none;
  padding: 3rem;
  font-size: 21px;
  color: black;
  .linkTo {
    text-decoration: none;
    font-size: 24px;
    color: black;
  }
}
.inputTexto {
  text-align: center;
}
