@import "../../assets/styles/variable.scss";
.carduser {
  border-top: none;
  display: flex;

  flex-wrap: wrap;
}

.perfil-img {
  width: 5rem;
  height: 5rem;
} // posso fazer aqui um styled component

.botao-publicar {
  width: 8rem;
  height: 2rem;
  background: $primary-color;
  border: $primary-color;
  border-radius: 30px;
  font-size: 16px;
  line-height: 16px;
  margin-right: 20px;
  &:hover {
    background: $secondary-color;
  }
}
.cardbody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .texto {
    border: 1px solid $accent-color;
    flex-wrap: wrap;
    resize: none;
  }
}
