@import "../../assets/styles/variable.scss";
.feedcoments {
    width: 64%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c5c5c5;
    border-radius: 0%
}

.list-group-item {
    width: 100%;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2px;
}

.row {
    width: 100%
}

.data {
    margin-top: -18px;
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #919191;
}

.morador {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #76BB4C;
}

.comentario {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: -10px;
}

.img-user-coment {}