.feedUserTimeline {
  border-bottom: 1px solid #c5c5c5;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}
// img .parrotOpaco {
//   opacity: 0.2;
// }
