$dark-primary-color: #512da8;
$light-primary-color: #d1c4e9;
$primary-color: #673ab7;
$secondary-color: #a27ce2;
$text-icons: #ffff;
$background-color: #000000ce;
$accent-color: #8bc34a;
$hover: #a5ce77;
$primary-text: #757575;
$divider-color: #bdbdbd;
