@import "../../assets/styles/variable.scss";
.card {
  border-top: none;
}

.perfil-img {
  width: 5.2rem;
  height: 5.2rem;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: $accent-color;
  font-weight: 500;
}
.hora {
  color: $primary-text;
}
